<table border="3">
    <tr>
        <td>ref</td>
        <td>title</td>
        <td>category</td>
        <td>publicationDate</td>
        <td>published</td>
    </tr>
   
    <tr>
        <td>{{a.ref}}</td> 
        <td>{{a.title}}</td>  
        <td>{{a.category}}</td>
        <td>{{a.publicationDate}}</td>
        <td>{{a.published}}</td>
        
    </tr>
    
</table>